<div class="jumbotron">
  <div class="container">
    <h2>NgCircleProgress Demo</h2>
    <hr class="my-4" />
    <p>A simple circle progress component created for Angular based on SVG Graphics.</p>
    <a class="btn btn-lg btn-primary" [href]="githubLink">View on GitHub</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12" style="margin-bottom: 30px">
      <circle-progress
        *ngIf="!destroyed"
        name="A"
        [options]="optionsA"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsA)"
      ></circle-progress>
      <circle-progress
        name="B"
        [options]="optionsB"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsB)"
      ></circle-progress>
      <circle-progress
        name="C"
        [options]="optionsC"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsC)"
      ></circle-progress>
      <circle-progress
        name="D"
        [options]="optionsD"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsD)"
      ></circle-progress>
      <circle-progress
        name="E"
        [options]="optionsE"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsE)"
      ></circle-progress>
      <circle-progress
        name="F"
        [options]="optionsF"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsF)"
      ></circle-progress>
      <circle-progress
        name="G"
        [options]="optionsG"
        [renderOnClick]="false"
        class="copy"
        (click)="copyOptions($event, optionsG)"
      ></circle-progress>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="card text-center">
        <div class="card-header">
          <b>ng circle progress</b>
        </div>
        <div class="card-body">
          <div class="card-text">
            <circle-progress
              #circleProgress
              [percent]="options.percent"
              [radius]="options.radius"
              [subtitleFormat]="options.subtitleFormat"
              [space]="options.space"
              [outerStrokeWidth]="options.outerStrokeWidth"
              [innerStrokeWidth]="options.innerStrokeWidth"
              [animationDuration]="options.animationDuration"
              [outerStrokeColor]="options.outerStrokeColor"
              [innerStrokeColor]="options.innerStrokeColor"
              [backgroundColor]="options.backgroundColor"
              [backgroundOpacity]="options.backgroundOpacity"
              [class]="'center-block cursor-pointer'"
              [animation]="options.animation"
              [animateTitle]="options.animateTitle"
              [backgroundStroke]="options.backgroundStroke"
              [backgroundStrokeWidth]="options.backgroundStrokeWidth"
              [backgroundPadding]="options.backgroundPadding"
              [unitsFontSize]="options.unitsFontSize"
              [unitsFontWeight]="options.unitsFontWeight"
              [unitsColor]="options.unitsColor"
              [titleColor]="options.titleColor"
              [titleFontSize]="options.titleFontSize"
              [titleFontWeight]="options.titleFontWeight"
              [subtitleColor]="options.subtitleColor"
              [subtitleFontSize]="options.subtitleFontSize"
              [subtitleFontWeight]="options.subtitleFontWeight"
              [showTitle]="options.showTitle"
              [showSubtitle]="options.showSubtitle"
              [showUnits]="options.showUnits"
              [units]="options.units"
              [unitsFontSize]="options.unitsFontSize"
              [subtitleFontSize]="options.subtitleFontSize"
              [outerStrokeLinecap]="options.outerStrokeLinecap"
              [showBackground]="options.showBackground"
              [showInnerStroke]="options.showInnerStroke"
              [maxPercent]="options.maxPercent"
              [toFixed]="options.toFixed"
              [clockwise]="options.clockwise"
              [title]="options.title"
              [showImage]="options.showImage"
              [imageSrc]="options.imageSrc"
              [imageHeight]="options.imageHeight"
              [imageWidth]="options.imageWidth"
              [responsive]="options.responsive"
              [startFromZero]="options.startFromZero"
              [showZeroOuterStroke]="options.showZeroOuterStroke"
              [backgroundGradient]="options.backgroundGradient"
              [outerStrokeGradient]="options.outerStrokeGradient"
              [backgroundGradientStopColor]="options.backgroundGradientStopColor"
              [outerStrokeGradientStopColor]="options.outerStrokeGradientStopColor"
              [lazy]="options.lazy"
            >
            </circle-progress>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group" role="group">
            <a
              href="javascript:;"
              class="btn btn-link"
              role="button"
              (click)="stop()"
              *ngIf="_timer !== null"
              >Stop</a
            >
            <a
              href="javascript:;"
              class="btn btn-link"
              role="button"
              (click)="start()"
              *ngIf="_timer === null"
              title="Start changing percent randomly"
              >Start</a
            >
            <a href="javascript:;" class="btn btn-link" role="button" (click)="resetOptions()"
              >Reset</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <ul class="nav nav-tabs" role="tablist">
        <li
          role="nav-item"
          role="presentation"
          *ngFor="let group of controlGroups; let first = first"
        >
          <a
            class="nav-link"
            href="#{{ group.groupName }}"
            [attr.aria-controls]="group.groupName"
            [ngClass]="{ active: first }"
            role="tab"
            data-toggle="tab"
            >{{ group.groupName }}</a
          >
        </li>
        <li role="nav-item" role="presentation">
          <a
            class="nav-link"
            href="#typescript"
            aria-controls="typesript"
            role="tab"
            data-toggle="tab"
            >TypeScript</a
          >
        </li>
      </ul>

      <div class="tab-content">
        <div
          role="tabpanel"
          class="tab-pane fade"
          [ngClass]="{ show: first, active: first }"
          id="{{ group.groupName }}"
          *ngFor="let group of controlGroups; let first = first"
        >
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group row" *ngFor="let control of group.controls">
                  <div class="col-sm-4 align-items-right">
                    <input
                      *ngIf="control.type === 'checkbox'"
                      [id]="control.name"
                      [name]="control.name"
                      type="checkbox"
                      [(ngModel)]="options[control.name]"
                      (change)="onValueChanged($event)"
                      class="form-control"
                    />
                    <input
                      *ngIf="control.type === 'range'"
                      [id]="control.name"
                      [name]="control.name"
                      [type]="control.type"
                      [(ngModel)]="options[control.name]"
                      [max]="control.max"
                      [min]="control.min"
                      [step]="control.step"
                      (change)="onValueChanged($event)"
                      class="form-control"
                    />
                    <select
                      class="form-control"
                      *ngIf="control.type === 'select'"
                      [id]="control.name"
                      [name]="control.name"
                      [(ngModel)]="options[control.name]"
                      (change)="onValueChanged($event)"
                    >
                      <option *ngFor="let value of control.options">{{ value }}</option>
                    </select>
                    <input
                      class="form-control"
                      *ngIf="
                        control.type !== 'range' &&
                        control.type !== 'checkbox' &&
                        control.type !== 'select'
                      "
                      [id]="control.name"
                      [name]="control.name"
                      [type]="control.type"
                      [(ngModel)]="options[control.name]"
                      (change)="onValueChanged($event)"
                    />
                  </div>
                  <label for="{{ control.name }}" class="col-sm-8 col-form-label"
                    ><code
                      >{{ control.name
                      }}<span class="text-muted">={{ options[control.name] }}</span></code
                    >
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="typescript">
          <div class="card">
            <div class="card-body">
              <pre>{{ sourceCode }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
